.form-group, .form-check {
	padding-bottom: 10px !important;
}

body {
	background-color: rgb(241, 208, 186) !important;
}

.container {
	background-color: white !important;
	padding-bottom: 20px !important;
}
