{% extends 'base.html' %} {% block content %}
<h1>Expenditures</h1>
{% if expenditures %}
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">created</th>
        <th scope="col">name</th>
        <th scope="col">frequency</th>
        <th scope="col">type</th>
        <th scope="col">value</th>
      </tr>
    </thead>
    <tbody>
      {% for expenditure in expenditures %}
      <tr>
        <td>
          {% if expenditure.frequency == "daily" %}
          <a href="/home/expenditures/daily/{{ expenditure.expenditure_id }}">
            {{ expenditure.expenditure_id }}</a
          >
          {% elif expenditure.frequency == "monthly" %}
          <a href="/home/expenditures/monthly/{{ expenditure.expenditure_id }}">
            {{ expenditure.expenditure_id }}</a
          >
          {% elif expenditure.frequency == "one-off" %}
          <a href="/home/expenditures/one-off/{{ expenditure.expenditure_id }}">
            {{ expenditure.expenditure_id }}</a
          >
          {% elif expenditure.frequency == "weekly" %}
          <a href="/home/expenditures/weekly/{{ expenditure.expenditure_id }}">
            {{ expenditure.expenditure_id }}</a
          >
          {% endif %}
        </td>
        <td>{{ expenditure.created }}</td>
        <td>{{ expenditure.name }}</td>
        <td>{{ expenditure.frequency }}</td>
        <td>{{ expenditure.type }}</td>
        <td>{{ expenditure.value }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %} {% endblock %}
