{% extends 'base.html' %} {% block content %}
<h1>Expenditures</h1>
{% if message %}
<div class="row">
  <div class="col">
    <div class="alert alert-success" role="alert">
      <p>{{ message }}</p>
    </div>
  </div>
</div>
{% endif %} {% if expenditures %} {% set navigation =
{'ascending':'descending','descending':'ascending'} %} {% set nextquery
="/home/expenditures/?sort=%s&direction=" % (sort,) + navigation[direction] %}
{% set headers
=['modified','name','frequency','starting','ending','type','value','interval','dates']
%} {% set direction_icon = {'ascending':'\U0001F446','descending':'\U0001F447'}
%}
<div class="row">
  <table class="table">
    <thead>
      <tr>
        {% for header in headers %} {% if header == sort%}
        <th scope="col" style="background-color: rgb(248, 249, 250)">
          <a
            href="{{ nextquery }}"
            class="link-warning link-underline link-underline-opacity-0"
            >{{header}} {{direction_icon[direction]}}</a
          >
        </th>
        {% else %}
        <th scope="col">
          <a
            href="/home/expenditures/?sort={{header}}&direction=ascending"
            class="link-secondary link-underline link-underline-opacity-0"
            >{{header}}</a
          >
        </th>
        {% endif %} {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for expenditure in expenditures %}
      <tr>
        <td>{{ expenditure.modified }}</td>
        <td>
          {% if expenditure.frequency == "daily" %}
          <a href="/home/expenditures/daily/{{ expenditure.expenditure_id }}">
            {{ expenditure.name }}</a
          >
          {% elif expenditure.frequency == "monthly" %}
          <a href="/home/expenditures/monthly/{{ expenditure.expenditure_id }}">
            {{ expenditure.name }}</a
          >
          {% elif expenditure.frequency == "one-off" %}
          <a href="/home/expenditures/one-off/{{ expenditure.expenditure_id }}">
            {{ expenditure.name }}</a
          >
          {% elif expenditure.frequency == "weekly" %}
          <a href="/home/expenditures/weekly/{{ expenditure.expenditure_id }}">
            {{ expenditure.name }}</a
          >
          {% endif %}
        </td>
        <td>{{ expenditure.frequency }}</td>
        <td>{{ expenditure.starting }}</td>
        <td>
          {% if expenditure.ending and expenditure.frequency in
          ['daily','monthly','weekly'] %} {{ expenditure.ending }} {% endif %}
        </td>
        <td>{{ expenditure.type }}</td>
        <td>{{ expenditure.value }}</td>
        <td>
          {% if expenditure.interval %} {{ expenditure.interval }} {% endif %}
        </td>
        <td>{% if expenditure.dates %} {{ expenditure.dates }} {% endif %}</td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %} {% endblock %}
