{% extends 'base.html' %} {% block content %}
<h1>Welcome {{ request.state.sub }} 😎</h1>
<hr />
<div class="row">
  <div class="col-md-4 offset-md-4">
    <p>Options below to get started:</p>
    <ul>
      <li><a href="/home/forecast">Forecast expenditures</a></li>
      <li><a href="/home/expenditures">View expenditures</a></li>
      <li>Manage expenditures</li>
      <ul>
        <li><a href="/home/expenditures/daily">daily</a></li>
        <li><a href="/home/expenditures/weekly">weekly</a></li>
        <li><a href="/home/expenditures/monthly">monthly</a></li>
        <li><a href="/home/expenditures/one-off">one off occurrences</a></li>
      </ul>
    </ul>
  </div>
</div>
{% endblock %}
