{% extends 'base.html' %} 
{% block content %}
{% if expenditure_id %}
  <h1 style="text-align: center">
    Edit Monthly expenditure {{ expenditure_id }}
  </h1>
{% else %}
  <h1 style="text-align: center">Submit Monthly expenditure</h1>
{% endif %} 
{% set expenditure_types = ["expense","deposit"] %}
<hr />
<div class="row">
  <div class="col-md-4 offset-md-4 border rounded-1">
    <form 
      action="/home/expenditures/monthly/{{ expenditure_id }}" 
      method="POST"
    >
      <div class="form-group">
        <label for="value">name:</label>
        <input
          type="text"
          id="name"
          class="form-control"
          name="name"
          placeholder="rent, tomatos, shampoo....."
          value="{{ name }}"
          required
        />
      </div>
      <div class="form-group">
        <label for="value">value:</label>
        <input
          type="number"
          id="value"
          class="form-control"
          name="value"
          placeholder="9.38"
          step="0.01"
          min="0"
          max="10000"
          value="{{ value }}"
          required
        />
      </div>
      <div class="form-group">
        <label for="frequency">type:</label>
        <select class="form-control" id="expenditure" name="type" required>
          {% for expenditure in expenditure_types %} 
            {% if expenditure == type %}
              <option value="{{ expenditure }}" selected>{{ expenditure }}</option>
            {% else %}
              <option value="{{ expenditure }}">{{ expenditure }}</option>
            {% endif %} 
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="monthly_days"
          >days of the months (day is skipped if doesn't exist in month):</label
        >
        <select
          class="form-control"
          id="monthly_days"
          name="monthly_days"
          required
          multiple
        >
          {% for day in month_days %}
            {% if day.selected %}
              <option value="{{ day.value }}" selected>{{ day.value }}</option>
            {% else %}
              <option value="{{ day.value }}">{{ day.value }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="start_month">starting month</label>
        <input
          type="text"
          id="start_month"
          class="form-control"
          name="start_month"
          min="1"
          max="12"
          placeholder="3"
          value="{{ start_month }}"
          required
        />
      </div>
      <div class="form-group">
        <label for="start_year">starting year</label>
        <input
          type="text"
          id="start_year"
          class="form-control"
          name="start_year"
          min="2026"
          min="2030"
          placeholder="2026"
          value="{{ start_year }}"
          required
        />
      </div>
      <div class="form-group">
        <label for="cycles">how many months</label>
        <input type="number" id="cycles" class="form-control" name="cycles" min="1" placeholder="10" value="{{ cycles }}"/>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% if expenditure_id %}
    <form
      action="/home/expenditures/{{ expenditure_id }}/delete"
      method="POST"
    >
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  {% endif %}
  </div>
</div>
{% endblock %}
